{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<section class="hero">
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title">My movie collection</h1>
        <p class="subtitle">Have a nice {{ day }}!</p>
        
        <div>
            <h6 class="title"> Login as an admin user to add, edit and delete movies.
              <p class="subtitle"> admin user Password: adminPassword, admin user username: admin</p>
            </h6>
            
            <h6 class="title"> Login as a normal user to edit movies.</h6>
            <h6 class="title"> Login as a guest user to see all movies.</h6>
            <h6 class="title"> Register if you haven't an account.</h6>
        </div>

      </div>
    </div>
  </section>
{% endblock %}